<%= render 'shared/page_title', title: "#{@chef.chefname.capitalize}'s Profile" %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 centre">
    <%= gravatar_for @chef, size: 100 %>
  </div>
</div>

<h4 align="center"> <%= @chef.chefname %>'s recipes</h4>
  <div align="center">
    <%= will_paginate @chef_recipes %>
</div>
<%= render 'recipes/recipe', obj: @chef_recipes %>
<div align="center">
  <%= will_paginate @chef_recipes %>
</div>
