<%= render 'shared/page_title', title: "Recipe: " + @recipe.name.capitalize %>

<div class="well col-md-8 col-md-offset-2">
  <h4 class="center description"><strong>Description: </strong><h4>
<hr />
  <div class="para"><%= simple_format(@recipe.description) %></div>
<hr />
  <p class="center">
  <p> Created by: </p>
  <p class="center">
    <%= link_to gravatar_for(@recipe.chef), recipes_path %>
    <div class="center"><small><%= @recipe.chef.chefname %></small>
      <p>
    <small> Created <%= time_ago_in_words(@recipe.created_at) %> ago</small>
   </div>
   <div class="recipe-actions">
   <%= link_to "Edit recipe", edit_recipe_path(@recipe), class: "btn btn-xs btn-warning" %>
   <%= link_to "Delete this recipe", recipe_path(@recipe), method: :delete,
                                     data: { confirm: "Are you sure you want to delete?" },
                                     class: "btn btn-xs btn-danger" %>
   <%= link_to "Return to Recipes", recipes_path, class: "btn btn-xs btn-primary" %>
 </div>
</div>
